
@{
    ViewBag.Title = "Index";
}


<div class="col-sm-10">
    <h2>Users Index</h2>
    <p>
        @Html.ActionLink("Maintenance", "Index", "Maintenance", null, new { @class = "btn btn-default btn-info btn-sm" })
    </p>
</div>