
@{
    ViewBag.Title = "Content";
}
<div class="col-sm-10">
    <h2>Content Index</h2>
    <p>
        @Html.ActionLink("Maintenance", "Index", "Maintenance", null, new { @class = "btn btn-default btn-info btn-sm" })
    </p>
</div>
