@{
    ViewBag.Title = "About";
}


<div class="col-md-11 col-lg-11">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>MJG Gallery is an attitude-free artist owned and curated gallery in Toronto's Leslieville district. It offers solo, two-person & group shows in a Queen Street East-facing space while maintaining a circulating inventory of over 180 works by 20-plus (mostly GTA-based) developing and established artists. The gallery features one & two-week shows as well as the occasional month-long show, while participating in a number of trade and art fairs in Canada and the US. MJG also offers pop-up shops, space and exhibition rental opportunities, community-centric events and more.</p>
    
    <p>Mark Gleberzon is a Toronto-born artist, an Honours graduate from the Ontario College of Art (now OCADU). He has a long history of selling his art actively in Canada and the US and prides himself knowing his work can be found in every continent (yes, even Antarctica according to a buyer who was studying penguins). Select work has been sold in galleries in Canada, the US, Paris (France) and Fukuoka (Japan).</p>
    <p>Mark graduated in Communication & Design but transitioned back to his fine art painting where he seemed happiest. Always experimenting and enjoying the creative process, Mark has developed several series of paintings as well as mixed media collage incorporating his photography and other elements.</p>
    <p>Mark is happy to work with clients when it comes to private commissions while as a gallery owner, is happy to work one-on-one with new to seasoned art collectors as well as those working in the world of interior design & spacial decor.</p>
    
    <p>MJG Gallery focuses on original work including oil, acrylic, encaustic painting, photography and sculpture as well as mixed-media. Mark has personally known many of the gallery artists over the years and prides himself on "carrying artwork he honestly likes by people he honestly likes."</p>
    
    <p>Artists inquiring on having their work represented in the gallery, please contact Mark via the contact page</p>
    
    <p>To be placed on Mark's newsletter notification, please inquire here.</p>
    
    <p>MJG Gallery is open Wednesday to Sunday, 11-6 (but often Tuesdays) or by special appointment.</p>
    
    <p>MJG Gallery on Facebook, Instagram, Twitter & Pinterest (see links in left sidebar)</p>
</div>
