@using GalleryBlog.Extensions
@model GalleryBlog.Models.ArtistListItem

@{
    ViewBag.Title = "Artist";

    Html.RegisterStyles("~/Content/artists/artists.css");

    Html.Register("~/bundles/js_artists");

}
<h2>Artist</h2>

<div>
    <h4>ArtistListItem</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ArtistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArtistName)
        </dd>

        <!-- Now add Slider for -->

    </dl>
</div>

@section Scripts
{
    <script type="text/javascript">
        $(function() {

            alert("blick!");
        });
    </script>
}