@using GalleryBlog.Extensions
@model GalleryBlog.Models.ListViewModel
@{
    ViewBag.Title = "Blog";
    Html.RegisterStyles("~/Content/blog/blog.css");
}
<div class="col-sm-10">

    <h2>Blog</h2>

    @Html.Partial("_Pager", Model)
    <div style="width: 75%; float: left;">
        @if (Model.Posts.Count > 0)
        {
            foreach (var post in Model.Posts)
            {
                @Html.Partial("_PostTemplate", post)
            }
        }
        else
        {
            <p>No posts found!</p>
        }
    </div>
    @Html.Partial("_Pager", Model)
    <div id="content-sidebar" style="width: 25%; float: left;">

        @Html.Action("Sidebars")
    </div>
</div>

