@model GalleryBlog.Models.ListViewModel
@{
    ViewBag.Title = "Blog";
}
<div class="col-sm-10">


    <h2>Blog</h2>
    @Html.Partial("_Pager", Model)

    @if (Model.Posts.Count > 0)
    {
        foreach (var post in Model.Posts)
        {
            @Html.Partial("_PostTemplate", post)
        }
    }
    else
    {
        <p>No posts found!</p>
    }

    @Html.Partial("_Pager", Model)
</div>
