@*<div class="img-polaroid map-contact">
        <div id="maps">&nbsp;</div>
    </div>*@

<div class="col-sm-3">

    <!-- start: Contact Info -->
    <div class="contact-info">
        <div class="title"><i class="fa fa-info-circle fa-2x pull-left"></i> <h3>Info</h3></div>
        <p><b>MJG Gallery</b></p>
        <p><i class="fa fa-map-marker"></i> 1028 Queen St. East</p>
        <p>&nbsp;&nbsp; Toronto, ON, M4M 1K4 Canada</p>
        <p><i class="fa fa-clock-o"></i> Wednesday to Sunday, 11-6</p>
        <p>&nbsp;&nbsp; But often Tuesdays</p>
        <p>&nbsp;&nbsp; Or by special appointment</p>
        <p><i class="fa fa-phone"></i> 416.923.4031</p>
        <p><i class="fa fa-bus"></i> Leslieville</p>
        <p><i class="fa fa-envelope-o"></i> info@mjggallery.com</p>
        <p><i class="fa fa-globe"></i><a href="http://www.mjggallery.com"> www.MJGGallery.com</a></p>
    </div><!-- end: Contact Info -->
    <!-- start: Contact bio -->
    <div class="contact-bio">
        <div class="descr-bio">
            <i class="fa fa-quote-left fa-3x pull-left icon-muted"></i>
            <span>
                Everyone gets so much information all day long that they lose their common sense.
            </span>
        </div>
    </div><!-- end: Contact bio -->
</div>
<div class="col-sm-6">
    <div class="contact-title">
        <div class="title"><i class="icon-envelope-alt icon-2x pull-left"></i><h3>Send a message</h3></div>
    </div>

    <div id="contact-form">

        <form class="form-contact" action="#" method="post">

            <div class="span3">
                <fieldset>
                    <div class="clearfix">
                        <div class="input">
                            <div class="input-prepend">
                                <span class="add-on">Name:</span>
                                <input type="text" class="input" value="" id="name" size="18" tabindex="1">
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="input">
                            <div class="input-prepend">
                                <span class="add-on">Email:</span>
                                <input type="text" class="input" value="" id="email" size="25" tabindex="2">
                            </div>
                        </div>
                    </div>

                    <div class="clearfix">
                        <div class="input">
                            <div class="input-prepend">
                                <span class="add-on">Site &nbsp;&nbsp;:</span>
                                <input type="text" class="input" value="" id="site" size="25" tabindex="2">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="span4">
                <fieldset>
                    <div class="clearfix">
                        <div class="input">
                            <textarea rows="8" name="body" id="message" class="input" tabindex="3"></textarea>
                        </div>
                    </div>

                    <div class="actions">
                        <button class="btn btn-orange btn-red-pastel btn-steelblue btn-darkslategrey btn-large" type="submit" tabindex="3">Send message</button>
                    </div>
                </fieldset>
            </div>
        </form>

    </div>
    <div class="up">
        <a href="#" class="btn btn-large btn-orange btn-red-pastel btn-steelblue btn-darkslategrey">Back to top <i class="icon-chevron-up"></i></a>
    </div>

</div>



