@{
    ViewBag.Title = "Home Page";
}

<div class="span9 offset1">

    <h1>The Site</h1>
    <p class="lead">A cool gallery site.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>

    <h2>Gallery</h2>
    <p>
        Lots of pictures to enjoy.
    </p>
    <p><a class="btn btn-default" href="@Url.Action("Gallery", "Home")">Gallery &raquo;</a></p>


</div>