@{
    ViewBag.Title = "Thanks";
}

<div class="col-sm-10">

    <h2>Thanks</h2>

    <p class="bold">
        Your message is successfully sent to admin. Thanks for contacting us.
    </p>

    @Html.ActionLink("back to home", "Blog", null, new { @class="btn btn-success btn-sm"})
</div>