@{
    ViewBag.Title = "Work";
    Layout = "~/Views/Shared/_LayoutWork.cshtml";
}

<div class="col-sm-9">
    <h2>Work</h2>

    <div>
        <img alt="" src="" />
    </div>

    <fieldset class="rating">
        <legend>Public rating:</legend>
        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Inspirational">5 stars</label>
        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Not my cup of tea">2 stars</label>
        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="I don't understrand">1 star</label>
    </fieldset>



</div>
