
html {
    height: 100%;
}

.left {
    float: left;
    margin-right: 10px;
}

.right {
    float: right;
    margin-left: 10px;
}

.center {
    display: block;
    text-align: center;
    margin: 0 auto;
}

blockquote {
    margin: 20px 0px 20px 0px;
    padding: 10px 20px 0px 20px;
    border: 1px solid #E5E5DB;
    background: #FFF;
}

/*ul
{ margin: 2px 0px 18px 16px;
  padding: 0px;}

ul li
{ list-style-type: square;
  margin: 0px 0px 6px 0px; 
  padding: 0px;}*/

/*ol
{ margin: 8px 0px 0px 24px;
  padding: 0px;}

ol li
{ margin: 0px 0px 11px 0px; 
  padding: 0px;}*/

/*#site_content
{ width: 858px;
  overflow: hidden;
  margin: 0 auto 0 auto;
  padding: 10px 20px 40px 20px;
  background: #F6F6F0 url(images/back.png) repeat-y;
  border: 15px solid #FFF;}*/

#sidebars {
    float: right;
}

.sidebar {
    width: 200px;
    padding: 0 15px 20px 15px;
}

    .sidebar h3 {
        margin-left: 20px;
        font-size: 150%;
    }

    .sidebar ul {
        width: 178px;
        padding: 4px 0 0 0;
        margin: 4px 0 4px 0;
    }

    .sidebar li {
        list-style: none;
        padding: 0 0 7px 0;
    }

        .sidebar li a, .sidebar li a:hover {
            padding: 0 0 0 35px;
            display: block;
            background: transparent url(../Images/app/link.png) no-repeat left center;
            border: 0;
        }

            .sidebar li a.selected {
                color: #444;
            }


#content {
    text-align: left;
    width: 613px;
    padding: 0;
    float: left;
}

#content-sidebar ul {
    margin: 2px 0 22px 0px;
}

    #content-sidebar ul li {
        list-style: none;
        /*background: url(../Images/app/bullet.png) no-repeat;*/
        margin: 0 0 0 0;
        padding: 0 0 4px 0; /*25px;*/
        line-height: 1.5em;
    }

.search {
    color: #555;
    border: 1px solid #DDD;
    width: 134px;
    padding: 5px;
}

.form_settings {
    margin: 15px 0 0 0;
}

    .form_settings p {
        padding: 0 0 20px 0;
    }

    .form_settings span.field {
        float: left;
        width: 100px;
        text-align: left;
    }

    .form_settings input, .form_settings textarea {
        padding: 5px;
        width: 299px;
        font: 100% arial;
        border: 1px solid #E5E5DB;
        background: #FFF;
        color: #47433F;
    }

    .form_settings .submit {
        font: 100% arial;
        border: 0;
        width: 99px;
        margin: 0 0 0 305px;
        height: 33px;
        padding: 2px 0 3px 0;
        cursor: pointer;
        background: #3B3B3B;
        color: #FFF;
    }

    .form_settings textarea, .form_settings select {
        font: 100% arial;
        width: 299px;
    }

    .form_settings select {
        width: 310px;
    }

    .form_settings .checkbox {
        margin: 4px 0;
        padding: 0;
        width: 14px;
        border: 0;
        background: none;
    }

.separator {
    width: 100%;
    height: 0;
    border-top: 1px solid #D9D5CF;
    border-bottom: 1px solid #FFF;
    margin: 0 0 20px 0;
}

table {
    margin: 10px 0 30px 0;
}

    table tr th, table tr td {
        background: #3B3B3B;
        color: #FFF;
        padding: 7px 4px;
        text-align: left;
    }

    table tr td {
        background: #E5E5DB;
        color: #47433F;
        border-top: 1px solid #FFF;
    }

.post {
    width: 250px;
    max-width: 250px;
    min-width: 250px;
    height: 350px;
    min-height: 350px;
    max-height: 350px;
    padding: 4px;
    background-image: linear-gradient( to top, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
    border-bottom: 2px inset #CCCDD9;

}

    .post .post-title {
        display: inline-block;
        border-bottom: 1px solid lightgray;
        width: 96%;
    }

    .post .post-category, .post-tags {
        float: left;
        margin-right: 10px;
        width: 96%;
        display: block;
    }

    .post .tags-div {
        font-style: italic;
        font-size: x-small;
        display: inline;
    }

        .post .tags-div a {
            margin-right: 5px;
        }

    .post .posted-date {
        float: right;
        display: block;
    }

    .post .post-row {
        clear: both;
        width: 96%;
    }

    .post .post-body {
        margin-top: 5px;
        clear: both;
        height: 130px;
        max-height: 130px;
    }

    .post .post-foot {
        float: right;
        clear: both;
    }

.pager {
    margin-top: 20px;
    clear: right;
}

    .pager .next {
        float: right;
    }

#search-form {
    float: right;
    clear: both;
    margin: 15px 20px 0 0;
}

    #search-form p {
        display: inline-block;
    }

    #search-form #s {
        width: 140px;
    }

span.field-validation-error {
    color: red !important;
}

.photo {
    float: left;
    margin-right: 10px;
}

.tags {
    padding: 0 0 20px 20px;
    font-size: smaller;
    font-style: italic;
}

    .tags a {
        margin: 3px;
        display: inline-block;
        padding: 0.2em 0.5em;
        background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.2)) repeat scroll 0% 0% #B4C8F2;
        border: medium none;
        border-radius: 4px;
        color: #16145C;
    }
