@helper Tags(System.Web.Mvc.HtmlHelper htmlHelper, ICollection<GalleryBlog.Models.PostTag> tags)
{
    if (tags != null)
    {
        foreach (var tag in tags)
        {
            <div class="tags-div">@GalleryBlog.ActionLinkExtensions.TagLink(htmlHelper, tag)</div>
        }
    }
}